@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

header{
    background-color: rgb(255, 144, 15, 0.1);
}

.btn-primary{
    padding: 15px 30px;
    font-size: 1rem;
    color: #fff;
    border: none;
    background-color: #FF900E;
    border-radius: 5px;
}

nav {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    color: black;
}

.brand{
    font-size: 2rem;
}

.nav-links{
    display: flex;
    gap: 60px;
    
}

.nav-links .nav-item{
    list-style-type: none;
}

.nav-links .nav-item .nav-link{
    text-decoration: none;
    color: black;
}

/* Banner Section */

.banner{
    width: 85%;
    margin: 0 auto;
}

.text-content{
    width: 50%;
    margin: 45px auto;
    text-align: center;;
}

.text-content h1{
    font-size: 3rem;
}

.text-content p{
    margin: 20px 0px;
}

.banner img{
    width: 100%;
    margin-bottom: 25px;
}

/* ******** our-checklist section ************** */

.our-checklist{
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.checklist-text h3{
    font-size: 2.25rem;
    color: #727272;
}

.checklist-text h3 :first-child{
    color: black;
}
.checklist-text h3 :nth-child(4){
    color: #FF900E;
}


.checklist-text p{
    margin: 30px 0px;
    font-size: 1rem;
    color: #727272;
}

/* ******* Features Section ********** */

.features-container{
    width: 85%;
    margin: 50px auto;
    display: flex;
    gap: 80px;
}

.features-text{
    width: 50%;
}

.section-title{
    border-left: 5px solid #FF900E;

}

.section-title h1{
    padding: 5px 13px;
    margin-bottom: 15px;
}

.sub-title p{
    padding-right: 30px;
    color: #727272;
}

.service-cards{
    margin-top: 50px;
}

.card{
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.170) 0px 0px 10px 1px;
    border-radius: 5px;
}

.card-title{
    padding: 10px 0px;
    font-size: 1.35rem;
    font-weight: 500;
}

.card-description{
    color: #727272;
}

.features-img{
    width: 50%;
}


.ftr-img{
    width: 100%;
}

.ten-year{
    display: inline-block;
    background-color: #FF900E;
    padding: 20px 30px;
    font-size: 1.75rem;
    text-align: center;
    color: #fff;
    border-radius: 7px;
    margin-top: -130px;
    margin-left: -50px;
}

/* ********************************* */

/* Facts Section */

.facts{
    max-width: 85%;
    margin: 0 auto;
}

.facts-text h3{
    font-size: 3rem;
    margin-bottom: 20px;
}

.facts-text p{
    color: #727272;
    margin-bottom: 50px;
}

.facts-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.fact-card{
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 10px;
    border-radius: 5px;
}

.fact-card > p{
    font-size: 2.5rem;
}

.fact-card span{
    color: #727272;
}

/* Our Sponsors */

.our-sponsors{
    max-width: 85%;
    margin: 0 auto;
    margin-top: 120px;
}

.sponsors-text{
    text-align: center;
    margin-bottom: 60px;
}

.sponsors-text h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sponsors-text p{
    color: #727272;
}

.sponsors-icons{
    display: flex;
    justify-content: space-between;
}

.sponsors-icons img{
    filter: grayscale(1);
}

/* ****************! Media Query !***************** */

@media (max-width: 576px) {
    /* CSS rules for phones */
    nav {
        width: 85%;
        margin: auto;
        flex-direction: column;
    }
    
    .nav-links{
        gap: 15px;
        padding: 20px 0px;
        
    }
    /* Banner Section */
    
    .text-content{
        width: 85%;
        margin: 25px auto;
        text-align: center;
    }
    
    .text-content h1{
        font-size: 2rem;
    }

    /* Our CheckList */

    .our-checklist{
        width: 100%;
        margin: 50px auto;
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
        padding: 20px;
    }

    .img-container{
        grid-template-columns: 1fr;
    }

    /* ************ */

    /* Featured Section */
    
    .features-container{
        flex-direction: column;
    }
    
    .features-text{
        width: 100%;
        text-align: center;
    }
    
    .card{
        padding: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.170) 0px 0px 10px 1px;
        border-radius: 5px;
    }
    
    .card-title{
        padding: 10px 0px;
        font-size: 1.35rem;
        font-weight: 500;
    }
    
    .card-description{
        color: #727272;
    }
    
    .features-img{
        width: 100%;
    }
    
  
    
    .ten-year{
        width: 80%;
        margin: -100px auto;
    }

    /* Facts Section */

    .facts{
        margin-top: 80px;
    }

    .facts-text{
        text-align: center;
    }

    .facts-icons{
        grid-template-columns: 1fr;
        gap: 50px;
    }

    /* Sponsors Section */

    .sponsors-icons{
        flex-direction: column;
    }

    .sponsors-icons img {
        margin: 50px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    /* CSS rules for tablets */
}

@media (min-width: 769px) and (max-width: 992px) {
    /* CSS rules for small laptops */
}

@media (min-width: 993px) and (max-width: 1200px) {
    /* CSS rules for laptops/desktops */
}



